/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  font-size: 0.95rem;
}

@layer base {
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 400;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-lt.woff) format('woff');
  }
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 200;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-Regular.woff) format('woff');
  }
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 500;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-Demi.woff) format('woff');
  }
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 700;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-Bold.woff) format('woff');
  }
}

@layer components {
  .button {
    @apply flex-shrink-0 block px-4 py-2 text-base font-medium rounded-md border border-transparent text-base align-middle text-center leading-button shadow-sm;
  }

  .button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button:disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }

  .button-primary {
    @apply bg-indigo-600 text-white transition duration-150 ease-in-out;
  }

  .button-seconday {
    @apply bg-indigo-200 text-indigo-700  transition duration-150 ease-in-out;
  }

  .button-primary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
  }

  .button-primary:hover {
    @apply bg-indigo-700 font-bold shadow-md transform scale-101;
  }

  .button-secondary {
    @apply bg-indigo-200 text-indigo-700  transition duration-150 ease-in-out;
  }

  .button-secondary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
  }

  .button-secondary:hover {
    @apply bg-indigo-300 font-bold shadow-md transform scale-101;
  }
}

.button-custom {
  /* border-radius: 0.25rem; */
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  /* color: white; */
  /* font-weight: 600; */
  /* box-shadow: 0px 2px 8px -3px black; */
}

.gray-color {
  /* background-color: #e5e7eb; */
  border-color: #636363;
  color: #636363;
}
